Repository The32bitguy/UristMcStation, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Icons, Sound, Config Update, Awaymaps, Nerva, Glloydstation, Wyrm

.github/labeler.yml:

Repo:
- .github/**/*
- .vscode/**/*
- docs/**/*
- scripts/**/*
- test/**/*
- tools/**/*
- .codebeatignore
- .editorconfig
- .git*
- LICENSE
- README.md
- SpacemanDMM.toml

Map:
- '**/*.dmm'

Icons:
- '**/*.dmi'

Sound:
- '**/*.ogg'
- '**/*.wav'
- '**/*.mp3'

Config Update:
- config/**/*

Awaymaps:
- maps/away/**/*

Nerva:
- maps/nerva/**/*

Glloydstation:
- maps/glloydstation/**/*

Wyrm:
- maps/wyrm/**/*

feature: FoV Cones port from Nebula, with some refactoring and config- and mob- level switches
  baystation12.dme
  code/_uristdefines.dm
  code/controllers/configuration.dm
  code/modules/urist/modules/fov/_fov_module.dm
  code/modules/urist/modules/fov/_nebulaports.dm
  code/modules/urist/modules/fov/fov.dm
  code/modules/urist/modules/fov/overrides/cone.dm
  code/modules/urist/modules/fov/overrides/human.dm
  icons/urist/fov/footstepsound.dmi
  icons/urist/fov/hide.dmi
Labels: Icons

tweak: Adds FoV cones option to config.txt
  config/config.txt
Labels: Config Update

chore: And the Most Pointless Lint of the Year Award goes to...
  test/check-paths.sh
Labels: Repo

feature: Adds logic for muted footsteps for FoV-coned footstep indicators
  code/modules/urist/modules/fov/overrides/human.dm
Labels: none

Update code/modules/urist/modules/fov/overrides/cone.dm
  code/modules/urist/modules/fov/overrides/cone.dm
Labels: none

Update code/modules/urist/modules/fov/overrides/cone.dm
  code/modules/urist/modules/fov/overrides/cone.dm
Labels: none
